
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <title>放送大学</title>
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">
  <link rel="apple-touch-icon" href="./assets/images/webclip/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="./assets/images/webclip/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./assets/images/webclip/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/images/webclip/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="./assets/images/webclip/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/images/webclip/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="./assets/images/webclip/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/images/webclip/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="./assets/images/webclip/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="./assets/images/webclip/apple-touch-icon-180x180.png">
  <script>
      var tenantId = "1";
      var cssTemplate = "tenant/ouj";
      var options = {
                        homeSettingUrl: "./top-page.json"
                      , initMessageUrl: "./init-message.html?v=1"
                      , loginType: 2
                      , logoUrl: "./assets/images/icon_logo.png"
                      , maxListNum: 30
                      , sami: true
                      , systemRequirementUrl: "https://www.ouj.ac.jp/help/siteinfo/#recommended"
                      , tenantType: 1
                      , visibleVodMenu: false
      };
  </script>
  <script src="cas-cooperation.js"></script>
  <script src="//v.ouj.ac.jp/module/classtream_viewer3/assets/js/classtream3-header.min.js"></script>
</head>
<body>
  <iframe style="width:100%; height:100%; border:none;" src="//v.ouj.ac.jp/module/classtream_viewer3/assets/html/no-script.html"></iframe>
  <ion-app></ion-app>
</body>
</html>

